torch==2.1.0
torch-npu==2.1.0.post3
torchvision
timm
transformers
einops==0.3.0
munch==2.5.0
x_transformers==0.15.0
albumentations==0.5.2
cnstd==1.2.3.3
python_docx==0.8.11
beautifulsoup4==4.12.2
openpyxl==3.1.2
premailer==3.10.0
PyMuPDF==1.19.0
ipdb==0.13.13
